// 颜色
$color-bg: #0A2560;
$color-bg-dark: #03101F;
$color-border-light: #58CFFF;
$color-card-light: rgb(20 71 128 / 50%);
$color-card: #304C61;
$color-card-dark: #2E4658;
$color-text-light: #FFF;
$color-text-dark: #2C6880;
$color-text-highlight-red: #D32648;
$color-text-highlight-orange: #E8C94C;
$color-text-highlight-green: #23B899;
$color-text-highlight-blue: #58CFFF;
$color-button-light: rgb(20 71 128 / 50%);
$color-button: #304C61;
$color-button-dark: #2E4658;
$color-blue: #333FFF;
$color-pink: #FFB0E3;
$color-green-light: #B8FFF2;
$color-orange: #FFB426;
$height-main-header: 1rem;
$height-panel-header: .5rem;
$gap-main: .25rem;
$gap-main-header: .125rem;
$gap-card-item: .45rem;
$customFontFamily: 'YouSheBiaoTiHei';
